
h1 {
	color:darkgreen;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
	font-style:bold;
	font-size: large;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:white;
}
body{
	background: linear-gradient(rgb(36, 36, 36),rgb(18,18,18));
	background-attachment: fixed;
	}